<!-- .intro-header -->
	<div class="faq_header">
		<div class="intro-header main_container faq_splash">
		    <div class="container">
		        <div class="row">
		         <h1 class="faq_title">Checkout</h1>
		        </div>
		    </div>
		</div>
	</div>
<!-- /.intro-header -->

<table class="table">
	<tr>
		<td><img src="<%= @electric_package.provider.logo %>"></td>
		<td>Price:: <%= @electric_package.price %><br>
			Duration: <%= @electric_package.duration %> Months<br>
			Energy Source: <%= @electric_package.percent_renewable %></td>
	</tr>

</table>

<p>You have selected <%= @electric_package.name %></p>

<ul>This package includes: </ul>
<li><%= @electric_package.price %></li>
<li><%= @electric_package.percent_renewable %></li>
<li><%= @electric_package.duration %></li>
<li><%= @electric_package.cancellation_fee %></li>
<li><img src="<%= @electric_package.provider.logo %>"></li>

<p>Please fill out your information</p>

<form action="electric_packages/purchase" method="post">
  <input type="text">
  <input type="text">
  <input type="text">
  <input type="text">
  <input type="text">
  <input type="submit" value="Checkout">
</form>