<!-- .intro-header -->
	<div class="faq_header">
		<div class="intro-header main_container faq_splash">
		    <div class="container">
		        <div class="row">
		         <h1 class="faq_title">Checkout</h1>
		        </div>
		    </div>
		</div>
	</div>
<!-- /.intro-header -->
<div class="checkout">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<table class="table">
				<tr><td>You have selected <%= @electric_package.name %></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><img src="<%= @electric_package.provider.logo %>"></td>
					<td>Provider: <%= @electric_package.provider.name %> <br>
						Energy Source: <%= @electric_package.percent_renewable %><br>
						Cancellation Fee: <%= @electric_package.cancellation_fee %>
					</td>
					<td>Price:: <%= @electric_package.price %><br>
						Duration: <%= @electric_package.duration %> Months<br></td>
				</tr>

			</table>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>

<h2>Account Info</h2>

<%= form_for @user do |f| %>
  <%= f.label :first_name %>:
  <%= f.text_field :first_name %><br />

  <%= f.label :last_name %>:
  <%= f.text_field :last_name %><br />

  <%= f.submit %>
<% end %>

<!-- <form role="form" action="electric_packages/purchase" method="post">
	<div class="form-group">
  		<input type="text">
  	</div>
  <input type="submit" value="Checkout">
</form> -->