<!-- .intro-header -->
	<div class="faq_header">
		<div class="intro-header main_container faq_splash">
		    <div class="container">
		        <div class="row">
		         <h1 class="faq_title">Checkout</h1>
		        </div>
		    </div>
		</div>
	</div>
<!-- /.intro-header -->
<div class="checkout">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<table class="table">
				<tr><td>You have selected <%= @electric_package.name %></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><img src="<%= @electric_package.provider.logo %>"></td>
					<td>Provider: <%= @electric_package.provider.name %> <br>
						Energy Source: <%= @electric_package.percent_renewable %><br>
						Cancellation Fee: <%= @electric_package.cancellation_fee %>
					</td>
					<td>Price:: <%= @electric_package.price %><br>
						Duration: <%= @electric_package.duration %> Months<br></td>
				</tr>

			</table>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>

<div class="sign_up_form">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">

			<h1>Sign Up</h1>

			<%= form_for @user, url: user_path, :html => {:role => "form"} do |f| %>
				<div class="form-group">
			  		<%= f.label :name %>:
			  		<%= f.text_field :name, :class => "form-control" %>
			  	</div>

			  	<div class="form-group">
			  		<%= f.label :address_1 %>:
			  		<%= f.text_field :address_1, :class => "form-control" %>

			  	<div class="form-group">
			  		<%= f.label :address_2 %>:
			  		<%= f.text_field :address_2, :class => "form-control" %>
			  	</div>
			  	<div class="form-group">
			  		<%= f.label :city %>:
			  		<%= f.text_field :city, :class => "form-control" %>
			  	</div>
			  	<div class="form-group">
			  		<%= f.label :zip %>:
			  		<%= f.text_field :zip, :class => "form-control" %>
			  	</div>
			  	<div class="form-group">
			  		<%= f.label :zip, "If you are a renter, when is your lease over?" %>:
			  		<%= f.text_field :lease_termination_date, placeholder: "m/dd/yy", :class => "form-control" %>
			  	</div>
			  	<div class="form-group">
			  		<%= f.label :con_ed_id, 'Electricity Supplier Account Number' %>:
			  		<%= f.text_field :con_ed_id, :class => "form-control" %>
			  <a href="">If you do not know your or do not have your electricity account number on you, click here</a>
			  	</div>
			  <%= f.submit "Go Green!", :type => "button", :class => "btn btn-success user_submit" %>
			  
			<% end %>
			<p>*Please note, by submitting your information to Greenir, your information will be passed along to the energy supplier of your choice. Your new supplier will reach out regarding your account and billing information</p>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>


