<!DOCTYPE html>
<html>
<head>
  <title>GetGreenir</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Navigation -->
    <div class="navbar navbar-default custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img class='logo' src="<%= asset_path( 'greenir.png' ) %>"> Greenir
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/faq">FAQ</a> </li>
            <li><a href="/">Contact Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

<%= yield %>
<!-- <footer>
  <a href="#" class="footer_links">Contact Us</a>
  <a href="#" class="footer_links">Greenir &copy; 2014</a>
  <a href="#" class="footer_links">Terms of Use</a>
</footer> -->
</body>
</html>
